
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

input, button{
    margin: auto 20px;
}


.contactForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}


.contactItem{
    padding: 20px;
    background: #abc;
    margin: 10px auto;
    border-radius: 10px;
}

.contactImage{
    width:100px;
    float:left;
    margin-right:50px;
}

.contactEmail{
    text-decoration-color: grey;
    color: grey;
}
